@import "tailwindcss";

@theme {
  --color-cyan-300: hsl(192, 90%, 77%);
  --color-cyan-400: hsl(192, 54%, 64%);
  --color-cyan-600: hsl(192, 37%, 48%);

  --color-purple-300: hsl(268, 100%, 86%);
  --color-purple-400: hsl(268, 55%, 71%);
  --color-purple-600: hsl(268, 34%, 53%);

  --color-slate-300: hsl(240, 18%, 85%);
  --color-slate-600: hsl(240, 10%, 57%);
  --color-slate-900: hsl(240, 21%, 20%);

  --color-white: hsl(0, 0%, 98%);

  --breakpoint-xl: 1440px;
}

@layer utilities {
  .text-preset-1 {
    @apply font-black leading-[110%] tracking-normal
            text-[2.5rem] md:text-[3rem] xl:text-[4rem];
  }

  .text-preset-2 {
    @apply font-black leading-[110%] tracking-normal
            text-[2rem] md:text-[2.25rem] xl:text-[2.5rem];
  }

  .text-preset-3 {
    @apply font-black leading-[110%] tracking-[0.25rem]
            text-[0.75rem] md:text-[0.875rem] xl:text-[1rem];
  }

  /* Tablet+ preset */
  .text-preset-4 {
    @apply font-medium leading-[150%] tracking-normal
            text-[1rem] xl:text-[1.125rem];
  }

  /* Laptop only preset */
  .text-preset-5 {
    @apply font-black leading-[150%] tracking-normal
            text-[1rem];
  }
}

body {
  font-family: var(--font-red-hat-display);
}
